In [35]:
import numpy as np
import pandas as pd

In [36]:
pd.set_option('display.max_columns', None)
PATH_DATA_RAW= '../Data/Raw/'
PATH_DATA_CLEAN = '../Data/Clean/'

## Load Data

In [37]:
data=pd.read_csv(PATH_DATA_RAW+'train.csv')
data.sample(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,bookingID
41179,"The Westin Peachtree Plaza, Atlanta Atlanta, GA",0,71,2018,August,33,12,1,2,2,0.0,0,BB,ESP,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,189.0,0,0,Check-Out,2018-08-15,41180
32485,"San Diego Sorrento Valley Courtyard San Diego, CA",0,55,2018,April,17,17,2,3,2,0.0,0,BB,IRL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,177.0,NaN,0,Transient,43.4,0,0,Check-Out,2018-04-22,32486
78073,Newark Liberty International Airport Courtyard...,0,0,2018,August,35,26,0,1,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,E,E,0,No Deposit,NaN,NaN,0,Transient,169.0,0,0,Check-Out,2018-08-27,78074
374,"Orlando Airport Courtyard Orlando, FL",1,125,2018,December,53,27,0,3,3,0.0,0,BB,ITA,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,138.3,0,0,Canceled,2018-08-25,375
72631,Sheraton Grand Rio Hotel & Resort Rio de Janei...,0,37,2018,February,7,10,1,4,2,0.0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,D,E,1,No Deposit,171.0,NaN,0,Transient,37.0,0,0,Check-Out,2018-02-15,72632

## Checking Columns and Missing Values

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83293 entries, 0 to 83292
Data columns (total 33 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           83293 non-null  object
 1   is_canceled                     83293 non-null  int64
 2   lead_time                       83293 non-null  int64
 3   arrival_date_year               83293 non-null  int64
 4   arrival_date_month              83293 non-null  object
 5   arrival_date_week_number        83293 non-null  int64
 6   arrival_date_day_of_month       83293 non-null  int64
 7   stays_in_weekend_nights         83293 non-null  int64
 8   stays_in_week_nights            83293 non-null  int64
 9   adults                          83293 non-null  int64
 10  children                        83290 non-null  float64
 11  babies                          83293 non-null  int64
 12  meal                            83293 non-null  object
 13  country                         82947 non-null  object
 14  market_segment                  83293 non-null  object
 15  distribution_channel            83293 non-null  object
 16  is_repeated_guest               83293 non-null  int64
 17  previous_cancellations          83293 non-null  int64
 18  previous_bookings_not_canceled  83293 non-null  int64
 19  reserved_room_type              83293 non-null  object
 20  assigned_room_type              83293 non-null  object
 21  booking_changes                 83293 non-null  int64
 22  deposit_type                    83293 non-null  object
 23  agent                           71889 non-null  float64
 24  company                         4734 non-null   float64
 25  days_in_waiting_list            83293 non-null  int64
 26  customer_type                   83293 non-null  object
 27  adr                             83293 non-null  float64
 28  required_car_parking_spaces     83293 non-null  int64
 29  total_of_special_requests       83293 non-null  int64
 30  reservation_status              83293 non-null  object
 31  reservation_status_date         83293 non-null  object
 32  bookingID                       83293 non-null  int64
dtypes: float64(4), int64(17), object(12)
memory usage: 21.0+ MB

Dari tipe data:\
Kolom children harusnya adalah int64 bukan float64 karena jumlah anak itu dihitung bukan diukur\
Kolom company dan agent adalah kolom ID, idealnya tipe datanya antara objek atau int\
Kolom reservation_status_date harusnya adalah datetime

Secara umum:\
Data tersebut memiliki 83293 baris dan 32 kolom\
Data tersebut memiliki missing value pada beberapa kolom\
Target untuk diprediksi adalah is_canceled\
Kolom selain is_canceled adalah fitur yang digunakan untuk memprediksi is_canceled

Selanjutnya ada akan dipisahkan antara kolom numerikal dan kategorikal

In [39]:
numerical = []
categorical = []
for i in data.columns:
    if (data[i].dtypes == 'float64') or (data[i].dtypes == 'int64'):
        numerical.append(i)
    elif (data[i].dtypes != 'float64') and (data[i].dtypes != 'int64'):
        categorical.append(i)
print(numerical)
print(categorical)

['is_canceled', 'lead_time', 'arrival_date_year', 'arrival_date_week_number', 'arrival_date_day_of_month', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'babies', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'booking_changes', 'agent', 'company', 'days_in_waiting_list', 'adr', 'required_car_parking_spaces', 'total_of_special_requests', 'bookingID']
['hotel', 'arrival_date_month', 'meal', 'country', 'market_segment', 'distribution_channel', 'reserved_room_type', 'assigned_room_type', 'deposit_type', 'customer_type', 'reservation_status', 'reservation_status_date']

Statistical summary dengan

In [40]:
data[numerical].describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,bookingID
count,83293.000000,83293.000000,83293.000000,83293.000000,83293.000000,83293.000000,83293.000000,83293.000000,83290.000000,83293.000000,83293.000000,83293.000000,83293.000000,83293.000000,71889.000000,4734.000000,83293.000000,83293.000000,83293.000000,83293.000000,83293.000000
mean,0.369503,103.914230,2018.156808,27.164023,15.786116,0.930390,2.503812,1.854466,0.103614,0.008032,0.030243,0.086994,0.141765,0.223068,86.867282,190.003802,2.352238,101.724373,0.061818,0.571945,41647.000000
std,0.482673,106.874124,0.706656,13.623752,8.775931,1.004196,1.924511,0.606139,0.398821,0.100641,0.171255,0.862988,1.554390,0.656237,110.875605,131.969152,17.820652,48.082552,0.245027,0.793742,24044.762323
min,0.000000,0.000000,2017.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,18.000000,2018.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.530000,0.000000,0.000000,20824.000000
50%,0.000000,69.000000,2018.000000,27.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,183.000000,0.000000,94.500000,0.000000,0.000000,41647.000000
75%,1.000000,160.000000,2019.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000,62470.000000
max,1.000000,737.000000,2019.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,70.000000,21.000000,535.000000,543.000000,391.000000,508.000000,8.000000,5.000000,83293.000000

In [41]:
data[categorical].describe()

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
count,83293,83293,83293,82947,83293,83293,83293,83293,83293,83293,83293,83293
unique,64,12,5,165,8,5,10,11,3,4,3,914
top,Renaissance New York Times Square Hotel New Yo...,August,BB,PRT,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-10-21
freq,1373,9643,64424,33952,39445,68368,60062,51702,72979,62535,52516,1024

Melihat secara menyeluruh nilai-nilai fitur kategorikal dan fitur numerikal diskrit

In [42]:
for col in categorical:
    print(f'''Value count kolom {col}:''')
    print('-' * 50)
    print(data[col].value_counts())
    print()

Value count kolom hotel:
--------------------------------------------------
hotel
Renaissance New York Times Square Hotel New York, NY                           1373
Sacramento Airport Natomas Courtyard Sacramento, CA                            1372
Las Vegas Marriott Las Vegas, NV                                               1371
Crystal Cove, Barbados Barbados                                                1360
Protea Hotel by Marriott Midrand Midrand, South Africa                         1352
                                                                               ...
W New York â€“ Union Square New York, NY                                         1250
The House, Barbados Barbados                                                   1249
Sheraton Grand Rio Hotel & Resort Rio de Janeiro, Brazil                       1249
African Pride Melrose Arch, Autograph Collection Johannesburg, South Africa    1246
Residence Inn Rio de Janeiro Barra da Tijuca Barra da Tijuca, Brazil           1246
Name: count, Length: 64, dtype: int64

Value count kolom arrival_date_month:
--------------------------------------------------
arrival_date_month
August       9643
July         8731
May          8222
April        7787
October      7741
June         7666
September    7398
March        6810
February     5560
November     4779
December     4742
January      4214
Name: count, dtype: int64

Value count kolom meal:
--------------------------------------------------
meal
BB           64424
HB           10098
SC            7401
Undefined      828
FB             542
Name: count, dtype: int64

Value count kolom country:
--------------------------------------------------
country
PRT    33952
GBR     8381
FRA     7243
ESP     5897
DEU     5107
       ...
MRT        1
BRB        1
NPL        1
DJI        1
NAM        1
Name: count, Length: 165, dtype: int64

Value count kolom market_segment:
--------------------------------------------------
market_segment
Online TA        39445
Offline TA/TO    16922
Groups           13791
Direct            8742
Corporate         3706
Complementary      524
Aviation           162
Undefined            1
Name: count, dtype: int64

Value count kolom distribution_channel:
--------------------------------------------------
distribution_channel
TA/TO        68368
Direct       10156
Corporate     4632
GDS            133
Undefined        4
Name: count, dtype: int64

Value count kolom reserved_room_type:
--------------------------------------------------
reserved_room_type
A    60062
D    13323
E     4566
F     2048
G     1438
B      777
C      658
H      408
P       10
L        3
Name: count, dtype: int64

Value count kolom assigned_room_type:
--------------------------------------------------
assigned_room_type
A    51702
D    17591
E     5419
F     2641
G     1770
C     1679
B     1530
H      482
I      262
K      207
P       10
Name: count, dtype: int64

Value count kolom deposit_type:
--------------------------------------------------
deposit_type
No Deposit    72979
Non Refund    10204
Refundable      110
Name: count, dtype: int64

Value count kolom customer_type:
--------------------------------------------------
customer_type
Transient          62535
Transient-Party    17555
Contract            2793
Group                410
Name: count, dtype: int64

Value count kolom reservation_status:
--------------------------------------------------
reservation_status
Check-Out    52516
Canceled     29923
No-Show        854
Name: count, dtype: int64

Value count kolom reservation_status_date:
--------------------------------------------------
reservation_status_date
2017-10-21    1024
2018-11-25     560
2017-07-06     558
2017-01-01     535
2018-01-18     437
              ...
2017-01-18       1
2017-02-12       1
2017-03-30       1
2017-03-23       1
2017-03-29       1
Name: count, Length: 914, dtype: int64

In [43]:
diskrit = ['is_canceled', 'adults', 'children', 'babies', 'arrival_date_year', 'arrival_date_week_number', 'arrival_date_day_of_month',
'stays_in_weekend_nights', 'stays_in_week_nights', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled',
'booking_changes', 'required_car_parking_spaces', 'total_of_special_requests']

for col in diskrit:
    print(f'''Value count kolom {col}:''')
    print('-' * 50)
    print(data[col].value_counts())
    print()

Value count kolom is_canceled:
--------------------------------------------------
is_canceled
0    52516
1    30777
Name: count, dtype: int64

Value count kolom adults:
--------------------------------------------------
adults
2     62373
1     16263
3      4316
0       287
4        41
26        5
50        1
10        1
27        1
40        1
55        1
5         1
6         1
20        1
Name: count, dtype: int64

Value count kolom children:
--------------------------------------------------
children
0.0     77329
1.0      3351
2.0      2558
3.0        51
10.0        1
Name: count, dtype: int64

Value count kolom babies:
--------------------------------------------------
babies
0     82650
1       632
2         9
10        1
9         1
Name: count, dtype: int64

Value count kolom arrival_date_year:
--------------------------------------------------
arrival_date_year
2018    39652
2019    28351
2017    15290
Name: count, dtype: int64

Value count kolom arrival_date_week_number:
--------------------------------------------------
arrival_date_week_number
33    2456
30    2140
34    2116
32    2100
18    2061
17    1999
28    1992
21    1979
20    1954
38    1934
29    1902
41    1901
42    1897
31    1886
25    1879
23    1860
15    1855
39    1827
27    1824
35    1813
22    1765
24    1747
19    1693
16    1673
26    1668
13    1656
40    1655
43    1619
14    1586
44    1563
37    1560
8     1556
36    1502
10    1495
7     1487
11    1466
12    1452
45    1374
9     1370
53    1294
49    1251
47    1188
46    1100
48    1060
4     1045
50    1035
6     1034
5      972
3      970
2      849
52     845
1      756
51     632
Name: count, dtype: int64

Value count kolom arrival_date_day_of_month:
--------------------------------------------------
arrival_date_day_of_month
17    3054
5     3030
15    2946
26    2876
12    2874
19    2865
25    2841
18    2835
24    2832
16    2828
9     2797
2     2795
20    2793
8     2772
28    2757
3     2727
14    2716
6     2686
30    2663
27    2632
4     2619
21    2601
13    2580
23    2559
7     2549
1     2534
11    2521
29    2494
10    2489
22    2479
31    1549
Name: count, dtype: int64

Value count kolom stays_in_weekend_nights:
--------------------------------------------------
stays_in_weekend_nights
0     36254
2     23328
1     21276
4      1310
3       874
6       112
5        55
8        41
7        15
9        10
10        6
12        4
14        2
16        2
13        2
19        1
18        1
Name: count, dtype: int64

Value count kolom stays_in_week_nights:
--------------------------------------------------
stays_in_week_nights
2     23404
1     21138
3     15517
5      7774
4      6695
0      5378
6      1032
10      722
7       720
8       447
9       170
15       62
11       38
19       31
20       30
12       30
14       29
13       21
16       14
21        9
22        6
25        5
17        3
18        3
24        3
30        3
40        2
26        1
50        1
42        1
35        1
33        1
32        1
34        1
Name: count, dtype: int64

Value count kolom is_repeated_guest:
--------------------------------------------------
is_repeated_guest
0    80774
1     2519
Name: count, dtype: int64

Value count kolom previous_cancellations:
--------------------------------------------------
previous_cancellations
0     78896
1      4077
2        87
3        49
24       35
11       27
4        24
26       22
25       18
5        16
6        16
19       12
14        7
13        7
Name: count, dtype: int64

Value count kolom previous_bookings_not_canceled:
--------------------------------------------------
previous_bookings_not_canceled
0     80761
1      1058
2       430
3       234
4       151
      ...
53        1
69        1
40        1
64        1
43        1
Name: count, Length: 65, dtype: int64

Value count kolom booking_changes:
--------------------------------------------------
booking_changes
0     70590
1      8922
2      2663
3       659
4       274
5        84
6        37
7        22
8        15
9         6
14        4
10        4
13        3
16        2
11        2
15        2
20        1
12        1
21        1
17        1
Name: count, dtype: int64

Value count kolom required_car_parking_spaces:
--------------------------------------------------
required_car_parking_spaces
0    78184
1     5084
2       20
3        3
8        2
Name: count, dtype: int64

Value count kolom total_of_special_requests:
--------------------------------------------------
total_of_special_requests
0    49035
1    23200
2     9041
3     1743
4      242
5       32
Name: count, dtype: int64

## Data Cleansing

Missing Value Handling

In [44]:
data_clean = data.copy()

In [45]:
data_missing_value = data_clean[data_clean.columns[data_clean.isna().any()]].isnull().sum().reset_index()
data_missing_value.columns = ['fitur','missing_count']
data_missing_value['percentage'] = round((data_missing_value['missing_count']/len(data_clean))*100,3)
data_missing_value = data_missing_value.sort_values('percentage', ascending=False).reset_index(drop=True)
data_missing_value

      fitur  missing_count  percentage
0   company          78559      94.316
1     agent          11404      13.691
2   country            346       0.415
3  children              3       0.004

Ada 4 kolom yang memiliki missing value, yaitu:
1. Company
2. Agent
3. Country
4. Children

- Kolom company karena memiliki missing value yang terlalu banyak, maka kolomnya akan di drop
- Kolom agent akan diisi dengan 0 dengan asumsi bahwa orang yang reservasi tidak melewati agent
- Kolom country dan children karena memiliki persentase missing value yang sangat sedikit maka baris2 yang mengandung missing value tersebut akan dihapus

In [46]:
data_clean.drop(columns=['company'], inplace=True)

In [47]:
data_clean.dropna(subset=['children'], inplace=True)
data_clean.dropna(subset=['country'], inplace=True)
data_clean['agent'] = data_clean['agent'].apply(lambda x: 0 if pd.isnull(x) else x)

In [48]:
data_clean.sample(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,bookingID
65001,Residence Inn Las Vegas Convention Center Las ...,1,196,2018,August,32,6,1,1,3,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,0,Transient,128.7,0,0,Canceled,2018-04-16,65002
20035,Sheraton Mexico City Maria Isabel Hotel Mexico...,1,183,2019,June,23,8,0,2,1,0.0,0,BB,PRT,Offline TA/TO,TA/TO,0,0,0,A,A,0,Non Refund,86.0,0,Transient,120.0,0,0,Canceled,2018-12-07,20036

In [49]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82944 entries, 0 to 83292
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           82944 non-null  object
 1   is_canceled                     82944 non-null  int64
 2   lead_time                       82944 non-null  int64
 3   arrival_date_year               82944 non-null  int64
 4   arrival_date_month              82944 non-null  object
 5   arrival_date_week_number        82944 non-null  int64
 6   arrival_date_day_of_month       82944 non-null  int64
 7   stays_in_weekend_nights         82944 non-null  int64
 8   stays_in_week_nights            82944 non-null  int64
 9   adults                          82944 non-null  int64
 10  children                        82944 non-null  float64
 11  babies                          82944 non-null  int64
 12  meal                            82944 non-null  object
 13  country                         82944 non-null  object
 14  market_segment                  82944 non-null  object
 15  distribution_channel            82944 non-null  object
 16  is_repeated_guest               82944 non-null  int64
 17  previous_cancellations          82944 non-null  int64
 18  previous_bookings_not_canceled  82944 non-null  int64
 19  reserved_room_type              82944 non-null  object
 20  assigned_room_type              82944 non-null  object
 21  booking_changes                 82944 non-null  int64
 22  deposit_type                    82944 non-null  object
 23  agent                           82944 non-null  float64
 24  days_in_waiting_list            82944 non-null  int64
 25  customer_type                   82944 non-null  object
 26  adr                             82944 non-null  float64
 27  required_car_parking_spaces     82944 non-null  int64
 28  total_of_special_requests       82944 non-null  int64
 29  reservation_status              82944 non-null  object
 30  reservation_status_date         82944 non-null  object
 31  bookingID                       82944 non-null  int64
dtypes: float64(3), int64(17), object(12)
memory usage: 20.9+ MB

Duplicate value handling

In [50]:
data_clean.duplicated().sum()

0

Tidak ada data duplikat

Adjust Data Type

In [51]:
# Changing children to integer type: 
data_clean['children'] = data_clean['children'].astype(int)

# Changing reservation status date to datetime type: 
data_clean['reservation_status_date'] = pd.to_datetime(data['reservation_status_date'])

# Changing agent to integer type: 
data_clean['agent'] = data_clean['agent'].astype(int)

Handle Incorrect Value

In [52]:
data_clean['adults'].describe()

count    82944.000000
mean         1.856337
std          0.605626
min          0.000000
25%          2.000000
50%          2.000000
75%          2.000000
max         55.000000
Name: adults, dtype: float64

Nilai 0 pada adults ini adalah hal yang tidak masuk akal, karena memesan hotel minimal harus dipesan untuk satu orang dewasa\
Baris dengan adulst sama dengan nol akan didrop

In [53]:
data_clean.drop(data_clean[data_clean['adults'] < 1].index, inplace = True)

In [54]:
data_clean['adults'].describe()

count    82665.000000
mean         1.862602
std          0.596952
min          1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max         55.000000
Name: adults, dtype: float64

In [55]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82665 entries, 0 to 83292
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           82665 non-null  object
 1   is_canceled                     82665 non-null  int64
 2   lead_time                       82665 non-null  int64
 3   arrival_date_year               82665 non-null  int64
 4   arrival_date_month              82665 non-null  object
 5   arrival_date_week_number        82665 non-null  int64
 6   arrival_date_day_of_month       82665 non-null  int64
 7   stays_in_weekend_nights         82665 non-null  int64
 8   stays_in_week_nights            82665 non-null  int64
 9   adults                          82665 non-null  int64
 10  children                        82665 non-null  int32
 11  babies                          82665 non-null  int64
 12  meal                            82665 non-null  object
 13  country                         82665 non-null  object
 14  market_segment                  82665 non-null  object
 15  distribution_channel            82665 non-null  object
 16  is_repeated_guest               82665 non-null  int64
 17  previous_cancellations          82665 non-null  int64
 18  previous_bookings_not_canceled  82665 non-null  int64
 19  reserved_room_type              82665 non-null  object
 20  assigned_room_type              82665 non-null  object
 21  booking_changes                 82665 non-null  int64
 22  deposit_type                    82665 non-null  object
 23  agent                           82665 non-null  int32
 24  days_in_waiting_list            82665 non-null  int64
 25  customer_type                   82665 non-null  object
 26  adr                             82665 non-null  float64
 27  required_car_parking_spaces     82665 non-null  int64
 28  total_of_special_requests       82665 non-null  int64
 29  reservation_status              82665 non-null  object
 30  reservation_status_date         82665 non-null  datetime64[ns]
 31  bookingID                       82665 non-null  int64
dtypes: datetime64[ns](1), float64(1), int32(2), int64(17), object(11)
memory usage: 20.2+ MB

In [56]:
data_clean.to_csv(PATH_DATA_CLEAN+'train_clean.csv',index = False)